<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/CSS/style3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Successful</title>
</head>

    <div class="cards-list">
        
         <div class="card">
            <div class="card-content card-front">
                <a class="card_image"><img src="https://c.tenor.com/xVfFIHxAzW4AAAAC/success.gif" > </a>
                <div class="card_title title">
                    <p>Added insurance</p>
                </div>
            </div>
            <div class="card-content card-back">
                <a class="card_image">
                    <img src="https://c.tenor.com/xVfFIHxAzW4AAAAC/success.gif" />
                </a>
                  <div class="card_title">
                    <p>Added Insurance</p>
                  </div>
            </div>
         </div>
         
    </div>





<body>
</body>
</html>