<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/CSS/style1.css">
    <title>Login</title>
</head>
    <div class="box">
    <a href="login_client.html"><img src="../static/Images/client.jpg"></a>
    <h2>Client Login</h2>
    </div>
    <div class="box">
    <a href="login_dealer.html"><img src="../static/Images/delearship.png" class="img"></a>
    <h2>Dealer Login</h2>
</div>
<body>
</body>
</html>