<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style2.css">
    <title>add insurance</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/295/295128.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <div class="container-wrapper">
            <!--car_company,delearship,company,plan,price,city,link-->
            <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>POST INSURANCE</h3>
            <form method="post">
                <div class="item"><input class="input" type="text" name="name" placeholder="Delearship Name"  required></div>
                <div class="item"><input class="input" type="text" name="city" placeholder="City Available" required></div>
                <div class="item"><input class="input" type="text" name="car_company" placeholder="Car Company "  required></div>
                <div class="item"><input class="input" type="text" name="company" placeholder="Scheme Company" required></div>
                <div class="item"><input class="input" type="text" name="plan" placeholder="Plan " required></div>
                <div class="item"><input class="input" type="number" name="price" placeholder="Price of plan"  required> </div>
                <div class="item"><input class="input" type="text" name="link" placeholder="link to insurance" > </div>
          
                <!-- <input type="checkbox" name="remember" id="remember"><span id="toc"> I Accept Terms and Condition</span> -->
                <div class="item submit"><button type="submit"><b>POST</b></button></div>
            </form>

        </div>

    </div>
</body>

</html>