<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/CSS/style3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Login</title>
</head>
<div class="cards-list">
    <div class="card">
        <div class="card-content card-front">
            <div class="card_image"> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN31bW-2vY9A_ltPWT1mIKcCWpD50SJnTgnw&usqp=CAU" /> </div>
            <div class="card_title title-black">
                <p>Car Info</p>
            </div>
        </div>
        <div class="card-content card-back">
            <div class="card_image">
            <br><br>
               Owner class ~ {{data2[0]}}
            <br>
               Lisence No. ~ {{data2[1]}}
            <br>
               Mobile No. ~ {{data2[2]}}
            <br>
               Registration no. ~ {{data[2]}}
            <br>
               Car Company {{data[3]}}
            <br>
               Car Model {{data[4]}}
            <br> 
                City      {{data[5]}}
              </div>
              
        </div>
     </div>
     <div class="card">
        <div class="card-content card-front">
            <div class="card_image"> <img src="https://content.sbigeneral.in/uploads/2a55fc14be614ca581718f112ba5848e.webp" /> </div>
            <div class="card_title title-black">
                <p>INSURANCE</p>
            </div>
        </div>
        <div class="card-content card-back">
            <div class="card_image">
                <br><br>
                Insurance Company  {{data[6]}}
                <br>
                Insurance Plan     {{data[7]}}<br>
                Insurance ID       {{data[8]}}<br>
                Insurance Price    {{data[9]}}<br>
                Insurance Date     {{data[10]}}<br>
              </div>
              <div class="card_title">
                <p>Insurance</p>
              </div>
        </div>
     </div>
     <div class="card">
        <div class="card-content card-front">
            <div class="card_image"> <img src="https://media.istockphoto.com/photos/car-maintenance-and-repair-mechanic-writing-checklist-paper-on-picture-id1165665234?k=20&m=1165665234&s=612x612&w=0&h=Xl7Zij8h19Q1l69HNxXB7WNTbC5TfqcOP-PCw-QsscY=
                " /> </div>
            <div class="card_title title-white">
                <p>Maintenance</p>
            </div>
        </div>
        <div class="card-content card-back">
            <div class="card_image">
                <br><br>
                Servicing Plan    {{data[11]}}<br>
                Servicing Price   {{data[12]}}<br>
                Servicing Company {{data[13]}}<br>
                Servicing date    {{data[14]}}<br>
                Servicing Due     {{data[15]}} <br>
                Servicing ID      {{data[16]}}<br>
              </div>
              <div class="card_title">
                <p>Serciving</p>
              </div>
        </div>
     </div>

     <div class="card">
        <div class="card-content card-front">
            <div class="card_image"> <img src="https://www.bajajallianz.com/blog/wp-content/uploads/2020/09/Documents-Required-For-Driving-A-Car-In-India.jpg" /> </div>
            <div class="card_title title">
                <p>Paper Work</p>
            </div>
        </div>
        <div class="card-content card-back">
            <div class="card_image">
                <br><br>
                PUC         {{data[17]}}<br>
                License     {{data[18]}}<br>
                Chasis No.   {{data[19]}}<br>
                RC No.      {{data[20]}}<br>
                License No. {{data[21]}} <br>
                PUC expiry  {{data[22]}}<br>
                RC expiry   {{data[23]}}<br>




              </div>
              <div class="card_title">
                <p>Paper Work</p>
              </div>
        </div>
     </div>
    </div>
    <p><div id="cart"><h2>CART</h2></div></p><p></p>
    <div class="cards-list">
        
         <div class="card">
            <div class="card-content card-front">
                <a href="servicing.html" class="card_image"><img src="https://okcredit-blog-images-prod.storage.googleapis.com/2021/02/automobilerepair1-1.jpg" > </a>
                <div class="card_title title">
                    <p>Lisence</p>
                </div>
            </div>
            <div class="card-content card-back">
                <a href="servicing.html" class="card_image">
                    <img src="../static/Images/giphy.gif" />
                </a>
                  <div class="card_title">
                    <p>Card Title</p>
                  </div>
            </div>
         </div>
         
         <div class="card">
            <div class="card-content card-front">
                <a href="insurance.html" class="card_image"> <img src="https://life.futuregenerali.in/media/408245/buy-online_article.jpg" /> </a>
                <div class="card_title title">
                    <p>Lisence</p>
                </div>
            </div>
            <div class="card-content card-back">
                <a href="insurance.html" class="card_image">
                    <img src="../static/Images/giphy.gif" />
                </a>
                  <div class="card_title">
                    <p>Card Title</p>
                  </div>
            </div>
         </div>
    </div>

</div>



<body>
</body>
</html>