<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/CSS/style3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Loged In</title>
</head>
<div class="cards-list">
    <div class="card">
        <div class="card-content card-front">
            <div class="card_image"> 
                <img src="../static/Images/images (1).jpg" /> </div>
            <div class="card_title title-white">
                <p>Dealership Info</p>
            </div>
        </div>
        <div class="card-content card-back">
            <div class="card_image">
            <br><br>
               Dealership name =>  {{name}}
            <br>
               Lisence No. => {{Lisence}}
            <br>
              
              </div>
              
        </div>
     </div>
     
     
    </div>
    <p><div id="cart"><h2>SELL SERVICE/ INSURANCE</h2></div></p>
    <div class="cards-list">
        <div class="card">
            <div class="card-content card-front">
                <a href="servicing_add.html" class="card_image"><img src="https://okcredit-blog-images-prod.storage.googleapis.com/2021/02/automobilerepair1-1.jpg"> </a>
                <div class="card_title title">
                    <p>Maintanance</p>
                </div>
            </div>
            <div class="card-content card-back">
                <a href="servicing_add.html" class="card_image">
                    <img src="https://cdn.dribbble.com/users/1284740/screenshots/4053432/media/91b0bf23b6430cb99640d2aa286c8d95.gif" />
                </a>
                  <div class="card_title title-white">
                    <p>Servicing</p>
                  </div>
            </div>
         </div>
         
         
         <div class="card">
            <div class="card-content card-front">
                <a href="insurance_add.html" class="card_image"> <img src="https://life.futuregenerali.in/media/408245/buy-online_article.jpg" /> </a>
                <div class="card_title title-white">
                    <p>Insurance</p>
                </div>
            </div>
            <div class="card-content card-back">
                <a href="insurance_add.html" class="card_image">
                    <img src="https://cdn.dribbble.com/users/1284740/screenshots/4053432/media/91b0bf23b6430cb99640d2aa286c8d95.gif" />
                </a>
                  <div class="card_title title-white">
                    <p>Insurance</p>
                  </div>
            </div>
         </div>
    </div>

</div>



<body>
</body>
</html>